.text {
    margin: 0 auto 48px;
    display: flex;
    border-bottom: 1px solid #000;
    opacity: .2;
    width: 358px;
    color: #000;
    text-align: start;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    cursor: text;
}

@media screen and (max-width: 550px) {
    .text {
        width: 238px;
        margin: 0 auto 45px;
    }
}