.cards-grid {
    display: grid;
    margin-top: 51px;
    justify-content: center;
}

@media screen and (min-width: 901px) {
    .cards-grid {
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(2, 361px);
        row-gap: 20px;
        column-gap: 17px;
    }
}

@media screen and (max-width: 900px) {
    .cards-grid {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        row-gap: 20px;
        column-gap: 17px;
    }
}

@media screen and (max-width: 650px) {
    .cards-grid {
        grid-template-rows: repeat(6, 361px);
        grid-template-columns: 282px;
        row-gap: 20px;
    }
}