.profile__button {
    background-color: black;
    border-width: 0;
    margin-left: auto;
    padding: 0;
    width: 24px;
    height: 24px;
    transition: opacity .5s linear 0s;
}

@media screen and (max-width: 680px) {
    .profile__info_button {
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 550px) {
    .profile__info_button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}

.profile__info_button:active {
    opacity: .6;
    cursor: pointer;
}

.profile__info_button:hover {
    cursor: pointer;
    opacity: .4;
}

.profile__info_button:focus {
    outline: none;
}